@let hall = hallSignal();
<mat-card appearance="outlined" class="card">
  <mat-card-header class="header">
    <mat-card-title class="title">{{ hall.name }}</mat-card-title>
  </mat-card-header>

  <mat-card-content class="content">
    <div class="info-container">
      <div class="info-item">
        <span class="info-label">Adresse</span>
        <span class="info-value">{{ hall.addressStreet }}</span>
      </div>

      <div class="info-item">
        <span class="info-label">Ville</span>
        <span class="info-value">{{ hall.addressCity }}</span>
      </div>

      <div class="info-item">
        <span class="info-label">Code postal</span>
        <span class="info-value">{{ hall.addressPostalCode }}</span>
      </div>

      <div class="info-item">
        <span class="info-label">Pays</span>
        <span class="info-value">{{ hall.addressCountry }}</span>
      </div>
    </div>
  </mat-card-content>

@if(withActions()) {
    <mat-card-actions align="end">
      <button mat-button type="button" routerLink="/halls">Retour</button>
      <button mat-flat-button color="primary" type="button">Modifier</button>
    </mat-card-actions>
}
</mat-card>
