<section class="form">
  <app-page-title
    eyebrow="Gestion des saisons"
    title="Informations d'une saison"
    subtitle="Renseignez les dates de début et de fin pour l'enregistrement."
  />

  <form class="content" autocomplete="off"  (submit)="submitForm($event); $event.preventDefault()">
    <div class="form-fields">
      <mat-form-field class="field field-full" appearance="outline">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input   [rangePicker]="picker">
          <input matStartDate [formField]="seasonForm.startDate" placeholder="Start date">
          <input matEndDate [formField]="seasonForm.endDate" placeholder="End date">
        </mat-date-range-input>
        <mat-hint>DD/MM/YYYY – DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
        <mat-error *appError="seasonForm.startDate; let errorMsg">
          {{errorMsg}}
        </mat-error>
      </mat-form-field>

    </div>
    @let globalErrors = seasonForm().errors();
    @if (globalErrors.length > 0) {
      @for(globalError of globalErrors; track globalError.kind) {
        <mat-error class="alert alert-danger">
          {{ globalError.message }}
        </mat-error>
      }
    }

    <div class="actions">

      <app-form-submit-button
        [disabled]="seasonForm().submitting() || seasonForm().invalid()"
        [content]="isCreateForm() ? 'Enregistrer' : 'Modifier'"
        [submitting]="seasonForm().submitting()"  />
      <button mat-button type="button" (click)="cancel()">Retour</button>
    </div>
  </form>
</section>

<details class="debug">
  <summary>Pr&eacute;visualiser les donn&eacute;es</summary>
  <lib-season-card [season]="seasonPreview()" />
</details>
