# Ignorer les dossiers lourds et inutiles
.git
.gradle
.idea
src/

# S'assurer que le dossier build/libs et le Dockerfile sont inclus
# On n'utilise pas le "*" global ici pour éviter les conflits avec certains drivers
