<mat-card class="feed-card"> <!--[class.multi-instagram-card]="!isDialog"-->

  @if (attachment.type === 'album') {
    <app-carousel [subAttachments]="attachment.subAttachments">
    </app-carousel>
  } @else {
    <app-media [type]="attachment.type" [media]="attachment.media">
    </app-media>
  }
  <mat-card-content>
    <p class="texte-multilignes">
      {{ feed.message }}
    </p>
  </mat-card-content>
<!--  <mat-card-actions>
    <p>Posté le {{ feed.createdTime | formatDate }}</p>
    <button mat-button [mat-dialog-close]="true">FERMER</button>
  </mat-card-actions>-->
</mat-card>
