<section class="form">
  <app-page-title
    eyebrow="Gestion des équipes"
    title="Informations de l'équipe"
    subtitle="Renseignez la catégorie, le genre et le numéro de l'équipe."
  />

  <form class="content" autocomplete="off" (submit)="submitForm($event); $event.preventDefault()">
    <div class="form-fields">
      <mat-form-field class="field" appearance="outline">
        <mat-label>Saison</mat-label>
        <mat-select [formField]="teamForm.seasonId">
          @for (season of seasonsSignal(); track season.id) {
            <mat-option [value]="season.id">
              {{ season.name }} ans
            </mat-option>
          }
          <mat-option (onSelectionChange)="addSeason()" [value]="null">Ajouter une season</mat-option>
        </mat-select>
        <mat-error *appError="teamForm.seasonId; let errorMsg">
          {{ errorMsg }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="field" appearance="outline">
        <mat-label>Catégorie</mat-label>
        <mat-select [formField]="teamForm.ageGroupId">
          @for (ageGroup of ageGroupsSignal(); track ageGroup.id) {
            <mat-option [value]="ageGroup.id">
              {{ ageGroup.upperLimit ? 'Moins de' : 'Plus de' }} {{ ageGroup.ageLimit }} ans
            </mat-option>
          }
          <mat-option (onSelectionChange)="addAgeGroup()" [value]="null">Ajouter une catégorie</mat-option>
        </mat-select>
        <mat-error *appError="teamForm.ageGroupId; let errorMsg">
          {{ errorMsg }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="field" appearance="outline">
        <mat-label>Genre</mat-label>
        <mat-select [formField]="teamForm.gender">
          @for (gender of genders; track gender) {
            <mat-option [value]="gender">{{ gender | gender }}</mat-option>
          }
        </mat-select>
        <mat-error *appError="teamForm.gender; let errorMsg">
          {{ errorMsg }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="field" appearance="outline">
        <mat-label>Numéro d'équipe</mat-label>
        <input matInput type="number" [formField]="teamForm.teamNumber"/>
        <mat-error *appError="teamForm.teamNumber; let errorMsg">
          {{ errorMsg }}
        </mat-error>
      </mat-form-field>

    </div>
    <mat-divider/>
    <div class="table-toolbar">
      <app-page-title title="Encadrants"/>
      <button mat-fab type="button" extended aria-label="Ajouter un encadrant" (click)="addStaff()">
        <mat-icon>add</mat-icon>
        Ajouter
      </button>
    </div>

    @for (staff of teamFormModelSignal().staffs; track $index || staff.id) {
      <div class="optional-form-fields">
        <div class="form-fields">
          <mat-form-field class="field" appearance="outline">
            <mat-label>Rôle</mat-label>
            <mat-select [formField]="teamForm.staffs[$index].role">
              @for (staffRole of staffRoles; track staffRole) {
                <mat-option [value]="staffRole">
                  {{ staffRole | roleStaff }}
                </mat-option>
              }
            </mat-select>
            <mat-error *appError="teamForm.staffs[$index].role; let errorMsg">
              {{ errorMsg }}
            </mat-error>
          </mat-form-field>
          <mat-form-field class="field" appearance="outline">
            <mat-label>Encadrant</mat-label>
            <mat-select [formField]="teamForm.staffs[$index].staffId">
              @for (staff of staffsSignal(); track staff.id) {
                <mat-option [value]="staff.id">
                  {{ staff.firstName }} {{ staff.lastName }}
                </mat-option>
              }
            </mat-select>
            <mat-error *appError="teamForm.staffs[$index].staffId; let errorMsg">
              {{ errorMsg }}
            </mat-error>
          </mat-form-field>
        </div>
        <app-form-delete-button
          [confirmMessage]="null"
          [iconOnly]="!isHandsetSignal()"
          (deleteConfirmed)="removeStaff($index)">
        </app-form-delete-button>
      </div>
    }

    <mat-divider/>
    <div class="table-toolbar">
      <app-page-title title="Créneaux d'entrainement"/>
      <button mat-fab type="button" extended aria-label="Ajouter un créneau" (click)="addTrainingSession()">
        <mat-icon>add</mat-icon>
        Ajouter
      </button>
    </div>

    @for (trainingSession of teamFormModelSignal().trainingSessions; track $index || trainingSession.id) {
      <div class="optional-form-fields">
        <div class="form-fields">
          <mat-form-field class="field" appearance="outline">
            <mat-label>Salle</mat-label>
            <mat-select [formField]="teamForm.trainingSessions[$index].hallId">
              @for (hall of hallsSignal(); track hall.id) {
                <mat-option [value]="hall.id">{{ hall.name }}</mat-option>
              }
              <mat-option (onSelectionChange)="addHall()" [value]="null">Ajouter une salle</mat-option>
            </mat-select>
            <mat-error *appError="teamForm.trainingSessions[$index].hallId; let errorMsg">
              {{ errorMsg }}
            </mat-error>
          </mat-form-field>

          <mat-form-field class="field" appearance="outline">
            <mat-label>Jour</mat-label>
            <mat-select [formField]="teamForm.trainingSessions[$index].dayOfWeek">
              @for (dayOfWeek of dayOfWeeks; track dayOfWeek) {
                <mat-option [value]="dayOfWeek">{{ dayOfWeek | dayOfWeek }}</mat-option>
              }
            </mat-select>
            <mat-error *appError="teamForm.trainingSessions[$index].dayOfWeek; let errorMsg">
              {{ errorMsg }}
            </mat-error>
          </mat-form-field>
          <mat-form-field class="field" appearance="outline">
            <mat-label>Heure de début</mat-label>
            <input matInput [matTimepicker]="pickerStart"
                   [formField]="teamForm.trainingSessions[$index].timeSlot.startTime">
            <mat-timepicker-toggle matSuffix [for]="pickerStart"></mat-timepicker-toggle>
            <mat-timepicker #pickerStart></mat-timepicker>
            <mat-error *appError="teamForm.trainingSessions[$index].timeSlot.startTime; let errorMsg">
              {{ errorMsg }}
            </mat-error>
          </mat-form-field>
          <mat-form-field class="field" appearance="outline">
            <mat-label>Heure de fin</mat-label>
            <input matInput [matTimepicker]="pickerEnd"
                   [formField]="teamForm.trainingSessions[$index].timeSlot.endTime">
            <mat-timepicker-toggle matSuffix [for]="pickerEnd"></mat-timepicker-toggle>
            <mat-timepicker #pickerEnd></mat-timepicker>
            <mat-error *appError="teamForm.trainingSessions[$index].timeSlot.endTime; let errorMsg">
              {{ errorMsg }}
            </mat-error>
          </mat-form-field>
        </div>
        <app-form-delete-button
          [confirmMessage]="null"
          [iconOnly]="!isHandsetSignal()"
          (deleteConfirmed)="removeTrainingSession($index)">
        </app-form-delete-button>
      </div>
    }
    <mat-divider/>


    <div class="table-toolbar">
      <app-page-title title="Photo d'équipe"/>
    </div>
    @if (showExistingPhotoSignal()) {
      <div class="image-preview-container">

        <img class="image-preview" [ngSrc]="createImageSourceUrl(teamSignal()?.photoFileName)"
             [height]="PHOTO_HEIGHT"
             [width]="PHOTO_WIDTH"
             alt="avatar" priority/>
        <app-form-delete-button
          confirmMessage="Êtes-vous sûr de vouloir supprimer la photo d'équipe ?"
          [iconOnly]="!isHandsetSignal()"
          (deleteConfirmed)="deletePhoto()">
        </app-form-delete-button>
      </div>
    } @else {
      <div class="image-container">
        <app-image-cropper
          (croppedBlobChange)="onCroppedBlobChange($event)"
          [withPreview]="false"
          [isCircular]="false"
          [cropMaskHeight]="PHOTO_HEIGHT"
          [cropMaskWidth]="PHOTO_WIDTH"
        >
        </app-image-cropper>
        <app-image-cropper-preview
          [isLoadingSignal]="blobIsLoadingSignal()"
          [isErrorSignal]="!!blobErrorSignal()"
          [previewBlob]="blobPhotoSignal()"
          [previewHeightSignal]="PHOTO_HEIGHT"
          [previewWidthSignal]="PHOTO_WIDTH"
        >
        </app-image-cropper-preview>
      </div>
    }

    @let globalErrors = teamForm().errors();
    @if (globalErrors.length > 0) {
      @for (globalError of globalErrors; track globalError.kind) {
        <mat-error class="alert alert-danger">
          {{ globalError.message }}
        </mat-error>
      }
    }

    <div class="actions">
      <app-form-submit-button
        [disabled]="teamForm().submitting() || teamForm().invalid()"
        [content]="isCreateForm() ? 'Enregistrer' : 'Modifier'"
        [submitting]="teamForm().submitting()"/>
      <button mat-button type="submit" routerLink="/teams">Retour</button>
    </div>
  </form>
</section>

<details class="debug">
  <summary>Pr&eacute;visualiser les donn&eacute;es</summary>
  <lib-team-card [team]="teamPreview()"/>
</details>
