@let type = typeInputSignal();
@let media = mediaInputSignal();
@let priority = priorityInputSignal();
@if (type === 'photo') {
  <img
    [ngSrc]="media.image.src"
    [width]="media.image.width"
    [height]="media.image.height"
    [priority]="priority"
    [attr.loading]="priority ? 'eager' : 'lazy'"
    [attr.fetchpriority]="priority ? 'high' : 'auto'"
    alt="Instagram media">
} @else if (type === 'video_inline' || type === 'video') {
  <div class="video-container" (click)="openVideo()">
    <img
      [ngSrc]="media.image.src"
      [width]="media.image.width"
      [height]="media.image.height"
      [priority]="priority"
      [attr.loading]="priority ? 'eager' : 'lazy'"
      [attr.fetchpriority]="priority ? 'high' : 'auto'"
      alt="Instagram media">
    <div class="video-overlay">
      <button class="play-button" aria-label="Voir la vidéo">
        <mat-icon>play_circle</mat-icon>
        <span>Voir la vidéo</span>
      </button>
    </div>
  </div>
} @else {
  <img ngSrc="/feed-media-error.png" width="1024" height="1024" alt="feed media error">
}
