@let viewModel = staffCardViewModelSignal();
@if (isLoadingSignal()) {
  <app-loading-data label="Chargement de l'encadrant"/>
} @else if (errorSignal()) {
  <app-error-data dataName="encadrants" (onRetry)="retry()"/>
} @else if (!viewModel) {
  <p>Aucun encadrant trouvé</p>
} @else {
  <lib-staff-card [staffCardViewModel]="viewModel">
    <mat-card-actions actions align="end">
      <button mat-button type="button" routerLink="/staffs">Retour</button>
      <button mat-flat-button type="button" routerLink="/staffs/{{viewModel.id}}/update">Modifier</button>
      <app-form-delete-button
        confirmMessage="Êtes-vous sûr de vouloir supprimer cet encadrant ?"
        (deleteConfirmed)="onDelete()">
      </app-form-delete-button>
    </mat-card-actions>
  </lib-staff-card>
}

