<app-public-page-container title="Nos Équipes" subtitle="Retrouvez toutes les équipes de l'association par saison.">
  @if (isLoadingSignal()) {
    <app-loading-data label="Chargement des équipes" [isLoading]="isLoadingSignal()"/>
  } @else if (errorSignal()) {
    <app-error-data dataName="équipes" (onRetry)="retry()"/>
  } @else {
    <header class="list-header">
      <div class="header-actions">
        <div class="filter-section">
          <mat-form-field appearance="outline" subscriptSizing="dynamic">
            <mat-label>Saison</mat-label>
            <mat-select [value]="selectedSeasonIdSignal()" (selectionChange)="onSeasonChange($event.value)">
              @for (season of seasonsSignal(); track season.id) {
                <mat-option [value]="season.id">
                  {{ season.name }} @if (season.isCurrent) {
                  (Actuelle)
                }
                </mat-option>
              }
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" subscriptSizing="dynamic">
            <mat-label>Genre</mat-label>
            <mat-select [value]="selectedGenderSignal()" (selectionChange)="onGenderChange($event.value)">
              <mat-option value="All">Tous les genres</mat-option>
              @for (gender of genders; track gender) {
                <mat-option [value]="gender">{{ gender | gender: 'long' }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>

        <mat-button-toggle-group [value]="viewModeSignal()" (change)="toggleView($event.value)"
                                 aria-label="Mode d'affichage">
          <mat-button-toggle value="cards" title="Vue grandes cartes">
            <mat-icon>grid_view</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle value="mini" title="Vue compacte">
            <mat-icon>view_list</mat-icon>
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </header>

    <section class="teams-grid" [class.mini-mode]="viewModeSignal() === 'mini'">
      @for (item of filteredViewModelsSignal(); track item.cardVM!.id) {
        @if (viewModeSignal() === 'cards') {
          <lib-team-card [teamCardViewModel]="item.cardVM!"></lib-team-card>
        } @else {
          <lib-team-mini-card [teamMiniCardViewModel]="item.miniVM!"></lib-team-mini-card>
        }
      } @empty {
        <div class="empty-state">
          <mat-icon>diversity_3</mat-icon>
          <p>Aucune équipe n'est répertoriée avec ces critères.</p>
        </div>
      }
    </section>
  }
</app-public-page-container>
