<mat-card class="card" appearance="outlined">
  <mat-card-header class="header">
    <mat-card-title class="title">{{ seasonSignal().name }}</mat-card-title>

    <mat-chip-set aria-label="Statut de la saison">
      @if (seasonSignal().isActive) {
        <mat-chip class="status status-active" >Active</mat-chip>
      } @else {
        <mat-chip class="status" >Inactive</mat-chip>
      }
      @if (seasonSignal().isCurrent) {
        <mat-chip class="status status-active" >En cours</mat-chip>
      }
    </mat-chip-set>
  </mat-card-header>

  <mat-card-content class="content">
    <dl class="meta">
      <div class="row">
        <dt>Début</dt>
        <dd>{{ seasonSignal().startDate | date : 'dd/MM/yyyy' }}</dd>
      </div>

      <div class="row">
        <dt>Fin</dt>
        <dd>{{ seasonSignal().endDate | date : 'dd/MM/yyyy' }}</dd>
      </div>
    </dl>
  </mat-card-content>
</mat-card>
