<section class="form">
  <!-- Page Header and Title -->
  <app-page-title
    [eyebrow]="'Gestion de l\'encadrement'"
    [title]="'Informations du membre de l\'encadrement'"
    [subtitle]="'Renseignez le prénom, le nom, l\'email et le numéro de téléphone.'"
  />

  <!-- Staff Member Creation/Edition Form -->
  <form class="content" autocomplete="off" [formRoot]="staffFormService.staffFormSignal">
    <mat-dialog-content class="mat-typography">
      <!-- Input Fields for Personal Details -->
      <div class="form-fields">
        <mat-form-field class="field" appearance="outline">
          <mat-label>Prénom</mat-label>
          <input matInput type="text" [formField]="staffFormService.staffFormSignal.firstName"
                 autocomplete="given-name"/>
          <mat-error *appError="staffFormService.staffFormSignal.firstName; let errorMsg">
            {{ errorMsg }}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="field" appearance="outline">
          <mat-label>Nom</mat-label>
          <input matInput type="text" [formField]="staffFormService.staffFormSignal.lastName"
                 autocomplete="family-name"/>
          <mat-error *appError="staffFormService.staffFormSignal.lastName; let errorMsg">
            {{ errorMsg }}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="field field-full" appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput type="email" [formField]="staffFormService.staffFormSignal.email" autocomplete="email"/>
          <mat-error *appError="staffFormService.staffFormSignal.email; let errorMsg">
            {{ errorMsg }}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="field field-full" appearance="outline">
          <mat-label>Téléphone</mat-label>
          <input matInput type="tel" [formField]="staffFormService.staffFormSignal.phone" autocomplete="tel"/>
          <mat-error *appError="staffFormService.staffFormSignal.phone; let errorMsg">
            {{ errorMsg }}
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Global Form Errors -->
      @let globalErrors = staffFormService.staffFormSignal().errors();
      @if (globalErrors.length > 0) {
        @for (globalError of globalErrors; track globalError.kind) {
          <mat-error class="alert alert-danger">
            {{ globalError.message }}
          </mat-error>
        }
      }

      <!-- Avatar Management Section -->
      @if (staffFormService.showExistingAvatarSignal()) {
        <!-- Display Existing Avatar with Option to Delete/Replace -->
        <div class="image-preview-container">
          <img class="image-preview" [ngSrc]="createImageSourceUrl(staffFormService.staffSignal()?.avatarFileName)"
               [height]="PHOTO_HEIGHT"
               [width]="PHOTO_WIDTH"
               alt="avatar" priority/>
          <app-form-delete-button
            [confirmMessage]="'Êtes-vous sûr de vouloir supprimer la photo ?'"
            [iconOnly]="!isHandsetSignal()"
            (deleteConfirmed)="deleteAvatar()">
          </app-form-delete-button>
        </div>
      } @else {
        <!-- Avatar Upload and Cropping Area -->
        <div class="image-container">
          <app-image-cropper
            (croppedBlobChange)="onCroppedBlobChange($event)"
            [withPreview]="false"
            [isCircular]="true"
            [cropMaskHeight]="100"
            [cropMaskWidth]="100"
          >
          </app-image-cropper>
          <app-image-cropper-preview
            [isLoading]="staffFormService.blobIsLoadingSignal()"
            [isError]="!!staffFormService.blobErrorSignal()"
            [previewBlob]="staffFormService.blobAvatarSignal()"
            [previewHeight]="100"
            [previewWidth]="100"
          >
          </app-image-cropper-preview>
        </div>
      }
    </mat-dialog-content>

    <!-- Form Action Buttons -->
    <mat-dialog-actions align="end">
      <div class="actions">
        <app-form-submit-button
          [disabled]="staffFormService.isSubmitDisabledSignal()"
          [content]="staffFormService.staffSignal() ? 'Modifier' : 'Enregistrer'"
          [submitting]="staffFormService.staffFormSignal().submitting()"/>
        <button mat-button type="button" (click)="cancel()">Retour</button>
      </div>
    </mat-dialog-actions>
  </form>
</section>

<!-- Live Data Preview -->
<details class="debug">
  <summary>Pr&eacute;visualiser les donn&eacute;es</summary>
  <lib-staff-card [staff]="staffFormService.staffPreviewSignal()"/>
</details>
