.table-container {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch; /* Pour un défilement fluide sur iOS */
}

table {
  width: 100%;
}

.table-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 16px;
  padding: 16px;
}


@media (max-width: 768px) {


  .table-toolbar a[mat-fab] {
    width: 100%;
  }
}
