@let viewModel = staffCardViewModelSignal();
@if (isLoadingSignal()) {
  <app-loading-data label="Chargement de l'encadrant"/>
} @else if (errorSignal()) {
  <app-error-data dataName="encadrants" (onRetry)="retry()"/>
} @else if (!viewModel) {
  <p>Aucun encadrant trouvé</p>
} @else {
  <lib-staff-card [staffCardViewModel]="viewModel">
    <mat-card-actions actions align="end">
      <button mat-button type="button" routerLink="/staffs">Retour à la liste</button>
    </mat-card-actions>
  </lib-staff-card>
}

