@let hall = hallSignal();
@if(isLoading()) {
  <app-loading-data label="Chargement de la salle" [isLoading]="isLoading()" />
} @else if(error()) {
  <app-error-data dataName="salles" (onRetry)="retry()" />
} @else if (!hall) {
  <p>Aucune salle</p>
} @else {
  <lib-hall-card [hall]="hall">
    <mat-card-actions actions align="end">
      <button mat-button type="button" routerLink="/halls">Retour</button>
      <button mat-flat-button type="button" routerLink="/halls/{{hall.id}}/update">Modifier</button>
      <app-form-delete-button
        confirmMessage="Êtes-vous sûr de vouloir supprimer cette salle ?"
        (deleteConfirmed)="onDelete()">
      </app-form-delete-button>
    </mat-card-actions>
  </lib-hall-card>
}
