.table-container {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch; /* Pour un défilement fluide sur iOS */
}

table {
  width: 100%;
}

.halls-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 16px;
  padding: 16px;
}


@media (max-width: 768px) {
  .halls-toolbar {
    flex-direction: column;
    align-items: stretch;
  }

  .halls-toolbar a[mat-fab] {
    width: 100%;
  }
}
