@if (isLoadingSignal()) {
  <app-loading-data label="Chargement des salles" [isLoadingSignal]="isLoadingSignal()"/>
} @else if (errorSignalSignal()) {
  <app-error-data dataName="salles" (onRetry)="retry()"/>
} @else {
  <app-admin-page-container title="Saisons" subtitle="Gestion des saisons">
    <a mat-fab extended color="primary" routerLink="/seasons/create" aria-label="Ajouter une saison" header-actions>
      <mat-icon>add</mat-icon>
      Ajouter
    </a>

    <div class="table-container">
      <table mat-table [dataSource]="dataSource" matSort>


        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom</th>
          <td mat-cell *matCellDef="let season"> {{ season.name }}</td>
        </ng-container>

        <ng-container matColumnDef="startDate">
          <th mat-header-cell *matHeaderCellDef>Date de début</th>
          <td mat-cell *matCellDef="let season"> {{ season.startDate | date:'dd/MM/yyyy' }}</td>
        </ng-container>

        <ng-container matColumnDef="endDate">
          <th mat-header-cell *matHeaderCellDef>Date de fin</th>
          <td mat-cell *matCellDef="let season"> {{ season.endDate | date:'dd/MM/yyyy' }}</td>
        </ng-container>

        <ng-container matColumnDef="isCurrent">
          <th mat-header-cell *matHeaderCellDef>En cours</th>
          <td mat-cell *matCellDef="let season"> {{ season.isCurrent ? 'oui' : 'non' }}</td>
        </ng-container>

        <ng-container matColumnDef="isActive">
          <th mat-header-cell *matHeaderCellDef>Sélectionnée</th>
          <td mat-cell *matCellDef="let season"> {{ season.isActive ? 'oui' : 'non' }}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions</th>
          <td mat-cell *matCellDef="let season" data-label="Actions">
            <button mat-icon-button type="button" aria-label="Modifier" routerLink="/seasons/{{season.id}}">
              <mat-icon>visibility</mat-icon>
            </button>
            <button mat-icon-button type="button" aria-label="Modifier" routerLink="/seasons/{{season.id}}/update">
              <mat-icon>edit</mat-icon>
            </button>

            <app-form-delete-button
              confirmMessage="Êtes-vous sûr de vouloir supprimer cette saison ?"
              [iconOnly]="true"
              (deleteConfirmed)="onDelete(season.id)">
            </app-form-delete-button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsSignal()"></tr>
        <tr mat-row *matRowDef="let _; columns: displayedColumnsSignal();"></tr>
        <!-- ✅ Message quand il n'y a aucune donnée -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" [attr.colspan]="displayedColumnsSignal().length">
            Aucune saison à afficher.
          </td>
        </tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </app-admin-page-container>
}
