@if (isLoadingSignal()) {
  <app-loading-data label="Chargement de l'encadrement" [isLoading]="isLoadingSignal()"/>
} @else if (errorSignal()) {
  <app-error-data dataName="personnel" (onRetry)="retry()"/>
} @else {
  <div class="table-toolbar">
    <app-page-title title="Personnel" subtitle="Gestion de l'encadrement"/>
    <a mat-fab extended color="primary" routerLink="/staffs/create" aria-label="Ajouter un membre de l'encadrement">
      <mat-icon>add</mat-icon>
      Ajouter
    </a>
  </div>
  <div class="table-container">
    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Prénom</th>
        <td mat-cell *matCellDef="let staff" data-label="Prénom"> {{ staff.firstName }}</td>
      </ng-container>

      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom</th>
        <td mat-cell *matCellDef="let staff" data-label="Nom"> {{ staff.lastName }}</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email</th>
        <td mat-cell *matCellDef="let staff" data-label="Email"> {{ staff.email }}</td>
      </ng-container>

      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef> Téléphone</th>
        <td mat-cell *matCellDef="let staff" data-label="Téléphone"> {{ staff.phone }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions</th>
        <td mat-cell *matCellDef="let staff" data-label="Actions">
          <button mat-icon-button type="button" aria-label="Voir" routerLink="/staffs/{{staff.id}}">
            <mat-icon>visibility</mat-icon>
          </button>
          <button mat-icon-button type="button" aria-label="Modifier" routerLink="/staffs/{{staff.id}}/update">
            <mat-icon>edit</mat-icon>
          </button>

          <app-form-delete-button
            confirmMessage="Êtes-vous sûr de vouloir supprimer ce membre de l'encadrement ?"
            [iconOnly]="true"
            (deleteConfirmed)="onDelete(staff.id)">
          </app-form-delete-button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns()"></tr>
      <tr mat-row *matRowDef="let _; columns: displayedColumns();"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" [attr.colspan]="displayedColumns().length">
          Aucun membre de l'encadrement à afficher.
        </td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>

}
