<section class="form">
  <app-page-title
    eyebrow="Gestion des équipes"
    title="Informations de l'équipe"
    subtitle="Renseignez la catégorie, le genre et le numéro de l'équipe."
  />

  <form class="content" autocomplete="off" [formRoot]="teamFormService.teamForm">
    <div class="form-fields">
      <mat-form-field class="field" appearance="outline">
        <mat-label>Saison</mat-label>
        <mat-select [formField]="teamFormService.teamForm.seasonId">
          @for (season of teamFormService.seasonsSignal(); track season.id) {
            <mat-option [value]="season.id">
              {{ season.name }} ans
            </mat-option>
          }
          <mat-option (onSelectionChange)="$event.isUserInput && $event.source.selected && teamFormService.addSeason()" [value]="null">Ajouter une season</mat-option>
        </mat-select>
        <mat-error *appError="teamFormService.teamForm.seasonId; let errorMsg">
          {{ errorMsg }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="field" appearance="outline">
        <mat-label>Catégorie</mat-label>
        <mat-select [formField]="teamFormService.teamForm.ageGroupId">
          @for (ageGroup of teamFormService.ageGroupsSignal(); track ageGroup.id) {
            <mat-option [value]="ageGroup.id">
              {{ ageGroup.upperLimit ? 'Moins de' : 'Plus de' }} {{ ageGroup.ageLimit }} ans
            </mat-option>
          }
          <mat-option (onSelectionChange)="$event.isUserInput && $event.source.selected && teamFormService.addAgeGroup()" [value]="null">Ajouter une catégorie</mat-option>
        </mat-select>
        <mat-error *appError="teamFormService.teamForm.ageGroupId; let errorMsg">
          {{ errorMsg }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="field" appearance="outline">
        <mat-label>Genre</mat-label>
        <mat-select [formField]="teamFormService.teamForm.gender">
          @for (gender of genders; track gender) {
            <mat-option [value]="gender">{{ gender | gender }}</mat-option>
          }
        </mat-select>
        <mat-error *appError="teamFormService.teamForm.gender; let errorMsg">
          {{ errorMsg }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="field" appearance="outline">
        <mat-label>Numéro d'équipe</mat-label>
        <input matInput type="number" [formField]="teamFormService.teamForm.teamNumber"/>
        <mat-error *appError="teamFormService.teamForm.teamNumber; let errorMsg">
          {{ errorMsg }}
        </mat-error>
      </mat-form-field>

    </div>
    
    <mat-divider/>
    <app-team-staff-fields [staffsArray]="teamFormService.teamForm.staffs" />

    <mat-divider/>
    <app-team-training-session-fields [sessionsArray]="teamFormService.teamForm.trainingSessions" />
    
    <mat-divider/>

    <div class="table-toolbar">
      <app-page-title title="Photo d'équipe"/>
    </div>
    @if (teamFormService.showExistingPhotoSignal()) {
      <div class="image-preview-container">

        <img class="image-preview" [ngSrc]="createImageSourceUrl(teamFormService.teamSignal()?.photoFileName)"
             [height]="PHOTO_HEIGHT"
             [width]="PHOTO_WIDTH"
             alt="avatar" priority/>
        <app-form-delete-button
          confirmMessage="Êtes-vous sûr de vouloir supprimer la photo d'équipe ?"
          [iconOnly]="!isHandsetSignal()"
          (deleteConfirmed)="deletePhoto()">
        </app-form-delete-button>
      </div>
    } @else {
      <div class="image-container">
        <app-image-cropper
          (croppedBlobChange)="onCroppedBlobChange($event)"
          [withPreview]="false"
          [isCircular]="false"
          [cropMaskHeight]="PHOTO_HEIGHT"
          [cropMaskWidth]="PHOTO_WIDTH"
        >
        </app-image-cropper>
        <app-image-cropper-preview
          [isLoadingSignal]="teamFormService.photoIsLoadingSignal()"
          [isErrorSignal]="!!teamFormService.photoErrorSignal()"
          [previewBlob]="teamFormService.photoBlobSignal()"
          [previewHeightSignal]="PHOTO_HEIGHT"
          [previewWidthSignal]="PHOTO_WIDTH"
        >
        </app-image-cropper-preview>
      </div>
    }

    @let globalErrors = teamFormService.teamForm().errors();
    @if (globalErrors.length > 0) {
      @for (globalError of globalErrors; track globalError.kind) {
        <mat-error class="alert alert-danger">
          {{ globalError.message }}
        </mat-error>
      }
    }

    <div class="actions">
      <app-form-submit-button
        [disabled]="teamFormService.isSubmitDisabledSignal()"
        [content]="(id() ? 'Modifier' : 'Enregistrer')"
        [submitting]="teamFormService.teamForm().submitting()"/>
      <button mat-button type="button" routerLink="/teams">Retour</button>
    </div>
  </form>
</section>

<details class="debug">
  <summary>Pr&eacute;visualiser les donn&eacute;es</summary>
  <lib-team-card [team]="teamPreview()"/>
</details>
