<section class="form">
  <!-- Page Header and Title -->
  <app-page-title
    [eyebrow]="'Gestion des équipes'"
    [title]="'Informations de l\'équipe'"
    [subtitle]="'Renseignez la catégorie, le genre et le numéro de l\'équipe.'"
  />

  <!-- Team Creation/Edition Form -->
  <form class="content" autocomplete="off" [formRoot]="teamFormService.teamFormSignal">
    <div class="form-fields">
      <!-- Season Selection -->
      <mat-form-field class="field" appearance="outline">
        <mat-label>Saison</mat-label>
        <mat-select [formField]="teamFormService.teamFormSignal.seasonId">
          @for (season of teamFormService.seasonsSignal(); track season.id) {
            <mat-option [value]="season.id">
              {{ season.name }}
            </mat-option>
          }
          <mat-option (onSelectionChange)="$event.isUserInput && $event.source.selected && teamFormService.addSeason()"
                      [value]="null">Ajouter une saison
          </mat-option>
        </mat-select>
        <mat-error *appError="teamFormService.teamFormSignal.seasonId; let errorMsg">
          {{ errorMsg }}
        </mat-error>
      </mat-form-field>

      <!-- Age Category Selection -->
      <mat-form-field class="field" appearance="outline">
        <mat-label>Catégorie</mat-label>
        <mat-select [formField]="teamFormService.teamFormSignal.ageGroupId">
          @for (ageGroup of teamFormService.ageGroupsSignal(); track ageGroup.id) {
            <mat-option [value]="ageGroup.id">
              {{ ageGroup.upperLimit ? 'Moins de' : 'Plus de' }} {{ ageGroup.ageLimit }} ans
            </mat-option>
          }
          <mat-option (onSelectionChange)="$event.isUserInput && $event.source.selected && teamFormService.addAgeGroup()" [value]="null">Ajouter une catégorie</mat-option>
        </mat-select>
        <mat-error *appError="teamFormService.teamFormSignal.ageGroupId; let errorMsg">
          {{ errorMsg }}
        </mat-error>
      </mat-form-field>

      <!-- Gender Selection -->
      <mat-form-field class="field" appearance="outline">
        <mat-label>Genre</mat-label>
        <mat-select [formField]="teamFormService.teamFormSignal.gender">
          @for (gender of genders; track gender) {
            <mat-option [value]="gender">{{ gender | gender }}</mat-option>
          }
        </mat-select>
        <mat-error *appError="teamFormService.teamFormSignal.gender; let errorMsg">
          {{ errorMsg }}
        </mat-error>
      </mat-form-field>

      <!-- Team Number Input -->
      <mat-form-field class="field" appearance="outline">
        <mat-label>Numéro d'équipe</mat-label>
        <input matInput type="number" [formField]="teamFormService.teamFormSignal.teamNumber"/>
        <mat-error *appError="teamFormService.teamFormSignal.teamNumber; let errorMsg">
          {{ errorMsg }}
        </mat-error>
      </mat-form-field>
    </div>

    <mat-divider/>
    <!-- Nested Form for Staff Assignments -->
    <app-team-staff-fields [staffsArray]="teamFormService.teamFormSignal.staffs"/>

    <mat-divider/>
    <!-- Nested Form for Training Sessions -->
    <app-team-training-session-fields [sessionsArray]="teamFormService.teamFormSignal.trainingSessions"/>

    <mat-divider/>

    <!-- Team Photo Management -->
    <div class="table-toolbar">
      <app-page-title [title]="'Photo d\'équipe'"/>
    </div>
    @if (teamFormService.showExistingPhotoSignal()) {
      <div class="image-preview-container">
        <img class="image-preview" [ngSrc]="createImageSourceUrl(teamFormService.teamSignal()?.photoFileName)"
             [height]="PHOTO_HEIGHT"
             [width]="PHOTO_WIDTH"
             alt="avatar" priority/>
        <app-form-delete-button
          [confirmMessage]="'Êtes-vous sûr de vouloir supprimer la photo d\'équipe ?'"
          [iconOnly]="!isHandsetSignal()"
          (deleteConfirmed)="deletePhoto()">
        </app-form-delete-button>
      </div>
    } @else {
      <div class="image-container">
        <app-image-cropper
          (croppedBlobChange)="onCroppedBlobChange($event)"
          [withPreview]="false"
          [isCircular]="false"
          [cropMaskHeight]="PHOTO_HEIGHT"
          [cropMaskWidth]="PHOTO_WIDTH"
        >
        </app-image-cropper>
        <app-image-cropper-preview
          [isLoading]="teamFormService.photoIsLoadingSignal()"
          [isError]="!!teamFormService.photoErrorSignal()"
          [previewBlob]="teamFormService.photoBlobSignal()"
          [previewHeight]="PHOTO_HEIGHT"
          [previewWidth]="PHOTO_WIDTH"
        >
        </app-image-cropper-preview>
      </div>
    }

    <!-- Global Form Errors -->
    @let globalErrors = teamFormService.teamFormSignal().errors();
    @if (globalErrors.length > 0) {
      @for (globalError of globalErrors; track globalError.kind) {
        <mat-error class="alert alert-danger">
          {{ globalError.message }}
        </mat-error>
      }
    }

    <!-- Form Action Buttons -->
    <div class="actions">
      <app-form-submit-button
        [disabled]="teamFormService.isSubmitDisabledSignal()"
        [content]="idInputSignal() ? 'Modifier' : 'Enregistrer'"
        [submitting]="teamFormService.teamFormSignal().submitting()"/>
      <button mat-button type="button" routerLink="/teams">Retour</button>
    </div>
  </form>
</section>

<!-- Live Data Preview -->
<details class="debug">
  <summary>Pr&eacute;visualiser les donn&eacute;es</summary>
  <lib-team-card [team]="teamPreview()"/>
</details>
